# general things to ignore
/.tscache
/.eslintcache
/.idea
/build/
/lib/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.log
*.pot
*.pyc
*.swp
*.lock
/.awcache
/local_cache/*
# due to using tox and pytest
.tox
.cache
